<footer class="main-footer column">
    <h3>PrivateBlog</h3>
    <div class="row"><p>Developed by&nbsp</p> <a class="bold-text name" href="">André Monteiro</a></div>
    <p class="bold-text year">2019</p>
</footer>

</body>



</html>