<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="noauth flex column start right">
            <h1>Exclusive content</h1>
            <p>Curated posts of best influencers and fortune 100's. This is the platform that connects you with the best personalities of the world.</p>
        </div>
    </main>
<%- include('../includes/end.ejs') %>