<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/posts.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="flex column">
            <div class="container">
                <h1>New Post</h1>
                
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>